@page
@model orgcat.web.Pages.Survey.Question

@{
    ViewData["Title"] = "Question";
}

<h1>Question</h1>

<p>@Model.QuestionText</p>

<form method="post">
    <div class="form-group">
        <label asp-for="Answer" class="control-label"></label>
        <input asp-for="Answer" class="form-control" />
        <span asp-validation-for="Answer" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Html.HiddenFor(m => m.QuestionId)
    </div>
    <div class="form-group">
        <input type="submit" value="Next" class="btn btn-primary"/>
    </div>
</form>
