@page
@model orgcat.web.Pages.Survey.Welcome

<h1>Welcome</h1>

<p>@Model.WelcomeMessage</p>

<form method="post">
    <div class="form-group">
        <input type="submit" value="@Model.StartButtonText" class="btn btn-primary" />
    </div>
</form>
