NEONDB_CONNSTRING='Host=SOME_NAME.REGION.aws.neon.tech;Database=YOUR_DATABASE_NAME;Username=YOUR_APP_USER_NAME;Password=PASSWORD;'
NEONDB_PSQL_CONNSTRING='postgresql://YOUR_USER_NAME:PASSWORD@SOME_NAME.REGION.aws.neon.tech/neondb?sslmode=require'
